/* Add margin-top to the shopping cart, as long as the screen is wide enough. */
@media (min-width: 992px) {
    .shopping-cart {
        margin-top: 150px;
    }
}

/* Make Bootstrap's container larger on large desktops. */
@media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
}

.centered-image {
    margin: 0 auto;
}

th, h4 {
    font-weight: bold;
}

.no-navbar-container {
    margin-top: 50px;
}